doctype html
html(lang="en")
  head
    title= pageTitle
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )

    link( href='css/bootstrap.min.css', rel="stylesheet")
  body( ng-app='login-form' )
    header.navbar.navbar-static-top(
      style={
        background: 'url(img/coworks_pano_2.jpg)',
        'background-size': 'cover'
      }
    )
      .navbar-inner(
        style={
          'border-bottom': '1px solid #ccc',
          'border-top': '3px solid #FD8204'
        }
      )
        .container(style={
          'min-height':'100px',
          position: 'relative'}
        )
          h1(style={'text-align': 'center'})
            img(
              src='img/coworks_logo.png'
              alt='logo'
              style={width: '320px'}
            )

    .container
      .well(style={'text-align': 'center'})
        h2 Welcome to the Syracuse CoWorks facility.
        p Please login to use our network

      .row
        .col-sm-4.col-sm-offset-4( ng-controller='loginCtrl' )
          form
            .form-group
              label(for='email') Email:
              input#email.form-control(
                type='input'
                placeholder='Email'
              )
            .form-group
              label(for='password') Password:
              input#password.form-control(
                type='password'
                placeholder='Password'
              )
            button.btn.btn-default( type="submit" ) Submit

    script( src='js/angular.min.js' )
    script( src='js/ui-bootstrap-tpls.min.js' )
